{{ 'homepage-2.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="textOnimg page-width page-width--narrow section-{{ section.id }}-padding">
<div class="after_banner">

  {%- for block in section.blocks -%}
    
    <div class="after_left">
    <img src="{{ block.settings.bgImage | image_url }}">
    <p>{{ block.settings.upText }} </p>
    </div>
  {%- endfor -%

</div>
</div>
</div>

{% schema %}
{
  "blocks": [
{
    "name": "Text on image",
    "type": "imageText",
    "settings": [
      
     
          {
        "id": "bgImage",
        "type": "image_picker",
        "label": "Background Image"
        },
        {
        "id": "upText",
        "type": "textarea",
        "label": "Text for image",
         "default": "LOREM IPSUM"
        }
    
     
    ]
  }
]
}

{% endschema %}

{%- style -%}

{%- endstyle -%}

{% javascript %}
{% endjavascript %}